<app-navbar></app-navbar>
<div class="clearheader"></div>
<body>
  <form  class="flex-container">
    <li *ngIf = "sendReset">
      <div class="regular-container">
        <!-- <img src="assets\gexLogo.png" alt="Avatar" class="avatar">-->
        <div class="container">
          <h3>Forget Password</h3>
        </div>
        <hr>
        <br>
        <div class="container">
          <div class="form-group">
            <label>Enter your email to recieve an email to reset your password.</label>
            <input type="text" class="form-control" [(ngModel)]="email" placeholder="Enter Email" name="email">
            <br>
            <a ><button (click)="sendPasswordReset()" type="submit" class="btn btn-primary float-right">Reset</button></a>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
      </div>
    </li>
    <li *ngIf = "passwordReset">
      <div class="container">
        <h3>Password Reset</h3>
      </div>
      <hr>
      <div class="container">
        <div class="form-group">
          <label>Input the new password and confirm it. Passwords must contain:</label>
          <ul>
            <li>at least one number</li>
            <li>at least one uppercase and lowercase letter</li>
            <li>at least 8 or more characters.</li>
          </ul>
          <input type="password" class="form-control" [(ngModel)]="password" placeholder="Enter Password" name="password">
          <br>
          <input type="password" class="form-control" [(ngModel)]="passwordConfirm" placeholder="Confirm Password" name="passwordConfirm">
          <br>
          <a ><button (click)="setNewPassword()" type="submit" class="btn btn-primary float-right">Submit</button></a>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </li>
  </form>
</body>
<div class="clearfooter"></div>

