<app-navbar></app-navbar>
<div class="clearheader"></div>
<body>
  <form  class="flex-container">
    <div class="regular-container">
      <!-- <img src="assets\gexLogo.png" alt="Avatar" class="avatar">-->
      <div class="container">
        <h3>Forget Password</h3>
        <br>
        <label>Input your email to recieve an email to reset your password.</label>
      </div>
      <hr>
      <div class="container">
        <input type="text" [(ngModel)]="email" placeholder="Enter Email" name="email">
        <a ><button (click)="sendPasswordReset()" type="submit">Reset</button></a><br><br>
      </div>
    </div>
    <div class="container">
      <h3>Password Reset</h3>
      <br>
      <label>Input the new password and confirm it.</label>
    </div>
    <hr>
    <div class="container">
      <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="password">
      <input type="password" [(ngModel)]="passwordConfirm" placeholder="Confirm Password" name="passwordConfirm">
      <a ><button (click)="setNewPassword()" type="submit">Submit</button></a><br><br>
    </div>
  </form>
</body>
<div class="clearfooter"></div>

