<app-buyer-navbar></app-buyer-navbar>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="clearheader"></div>

<br><br><br>
<br>
<div class="container" style=" position: relative;">
  <h2>Shopping Cart</h2>
  <hr>
    <div class="row">
        <div class="col-md-8">
        <button type="button" class="btn left btn-lg" id="goBack" routerLink="/" routerLinkActive="active">Accept more offers</button>
        <br>
        <button type="button" class="btn btn-primary btn-lg" id="Continue" (click)="ContinueCheckout()" LinkActive="active">Contine to checkout</button>
      </div>
      </div>
</div>

<div class="clearfooter"></div>
