<app-buyer-navbar></app-buyer-navbar>
<div class="clearheader"></div>
<body>
    <div class="text-center highlight"><img src="../../../../assets/RequirenLogo.png" />
      <div class="container text-center" style="margin-top: 31px;">
          <h2 class="text-center">thank you for your order.</h2>
          <p class="text-center" style="margin-top: -28px;">Hello Omar, your order #1233489989 was successfully placed. Our seller(s) are working on getting your items prepared for you. We&#39;ll email you an update when your seller(s) has shipped your item(s).</p>
      </div>
      <button class="btn btn-primary text-center" role="button" href="#">VIEW ORDERS</button>
    </div>
    &nbsp;
    <div class="container" style="text-align: left">
      <h4 style="font-weight: bold;"><u>order & shipping details:</u></h4>
      <div class="row">
        <div class="col-md-5 mb-3">
          <h6 style="font-weight: bold">order details</h6>
          order #:
          <br>
          member #:
        </div>
        <div class="col-md-5 mb-3">
          <h6 style="font-weight: bold">shipping details</h6>
          Omar Lozoya
          <br>
          12420 N 43rd Ln
          <br>
          Glendale, AZ 85304
          </div>
      </div>
      <hr>
    </div>
    <div class="container" style="text-align: left">
        <h4 style="font-weight: bold;"><u>submitted request info:</u></h4>
        <div class="row">
          <div class="col-md-4 mb-3">
            <h6 style="font-weight: bold">details</h6>
            request type:
            <br>
            title:
          </div>
          <div class="col-md-4 mb-3">
            <h6 style="font-weight: bold">description</h6>
          </div>
          <div class="col-md-4 mb-3">
              <h6 style="font-weight: bold">images</h6>
            </div>
        </div>
        <hr>
      </div>
    <div class="container" style="text-align: left">
        <h4 style="font-weight: bold;"><u>accepted offers:</u></h4>
        <div class="row">
          <div class="col-md-4 mb-3">
            <h6 style="font-weight: bold; color: blue">offer title</h6>
          </div>
          <div class="col-md-4 mb-3">
            <h6 style="font-weight: bold">description</h6>
          </div>
          <div class="col-md-4 mb-3">
              <h6 style="font-weight: bold">totals</h6>
              shipping price:
              <br>
              price:
              <br>
              total:
          </div>
        </div>
        <hr>
    </div>
    <div class="container" style="text-align: left">
        <div class="row">
          <div class="col-md-4 mb-3"></div>
          <div class="col-md-4 mb-3"></div>
          <div class="col-md-3">
            <p style="font-weight: bold">
                offers:
                <span class="price" style="font-weight: normal">$44.99</span>
            </p>
            <p style="font-weight: bold">
                shipping & handling:
                <span class="price" style="font-weight: normal">$44.99</span>
            </p>
            <p style="font-weight: bold">
                subtotal:
                <span class="price" style="font-weight: normal">$44.99</span>
            </p>
            <p style="font-weight: bold">
                estimated tax:
                <span class="price" style="font-weight: normal">$44.99</span>
            </p>
            <p style="font-weight: bold; font-size: 20px">
                total(USD):
                <span class="price" style="font-weight: normal">$44.99</span>
            </p>
          </div>
        </div>
    </div>

</body>
<div class="clearfooter"></div>
