<!-- Footer -->

<div class="footer-dark">
        <footer>
                <div class="container">
                        <div class="row">
                                <div class="col-sm-6 col-md-3 item">
                                        <h3>Company</h3>
                                        <ul>
                                                <li><a href="#">About</a></li>
                                                <li><a href="#">Privacy Notice</a></li>
                                                <li><a href="#">Terms of Service</a></li>
                                        </ul>
                                </div>
                                <div class="col-sm-6 col-md-3 item">
                                        <h3>Support</h3>
                                        <ul>
                                                <li><a href="#">How it works</a></li>
                                                <li><a href="#">Contact us</a></li>
                                                <li><a href="#">FAQ</a></li>
                                        </ul>
                                </div>
                                <div class="col-md-6 item text">
                                        <h3>Requiren</h3>
                                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem
                                                lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus.
                                                Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                                </div>
                        </div>
                        <p class="copyright">Requiren.com © 2019</p>
                </div>
        </footer>
</div>
<!-- Footer -->