
.navbar {
  padding: 0;
  margin: 0;
  width: 100%;


}
.footer {
  background-color: rgb(41, 43, 43);
  padding: 0;

  margin: 0;
  width: 100%;
  text-align: center;
  color: white;

}

.navbar-brand {
  color: lightgray;
}
