<app-buyer-navbar></app-buyer-navbar>

<div class="clearheader"></div>

<!--Bryan Vu contributed to much of the buyer product request form,
including the fields and labels.
-->

<body>
<form (submit)="onRequestSubmit()">
  <div class="container-fluid">

    &nbsp;
    <div class="card">
      <div class="card-body">
          <h1>Submit Product Request</h1><hr>
        <div class="form-group row">
          <div class="col-sm-12">
            <input class="form-control mr-sm-2" type="text" [(ngModel)]="title" name="title" value="" placeholder="Request Title">
          </div>
        </div>
        <label class="col-sm-12">Which category does your request fall under:</label>
        <div class="form-group row">
            <ul *ngFor="let code of codes" id="otis">
              <li>
              <input type="checkbox" name="code" value={{code.code}} id={{code.code}} (change)="onCheckboxChange(code,$event)"/>
              <label id="piclabel" for={{code.code}}><img src={{code.image}} /></label>
              <label id="piclabel">{{code.name}}</label>
            </li>
          </ul>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <ckeditor [editor]="Editor" [(ngModel)]="description" name="description" placeholder="product discription..."></ckeditor>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <br>
            <select class="dropdown" id="selectDeadline" (change)="onChange($event)" >
              <option>Select deadline...</option>
              <option value="2days">2 days from today</option>
              <option value="5days">5 days from today</option>
              <option value="1week">1 week from today</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="profImage">Add Pictures to Request:</label>
          <input #imageInput
                  type="file" 
                  accept="image/*"
                  (change) = "processFile(imageInput)">      
        </div>
        <hr>
        <div class="form-group row">
          <div class="col-sm-12" style="text-align: right;">
            <button type="submit" class="btn-block btn-primary">{{buttonText}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfooter"></div>
  </div>
</form>
</body>
<!--
<html>
 <head>
  <title>Webslesson Tutorial | Search HTML Table Data by using JQuery</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  #result {
   position: absolute;
   width: 100%;
   max-width:870px;
   cursor: pointer;
   overflow-y: auto;
   max-height: 400px;
   box-sizing: border-box;
   z-index: 1001;
  }
  .link-class:hover{
   background-color:#f1f1f1;
  }
  </style>
 </head>
 <body>
  <br /><br />
  <div class="container" style="width:900px;">
   <h2 align="center">JSON Live Data Search using Ajax JQuery</h2>
   <h3 align="center">Employee Data</h3>
   <br /><br />
   <div align="center">
    <input type="text" name="search" id="search" placeholder="Search Employee Details" class="form-control" />
   </div>
   <ul class="list-group" id="result"></ul>
   <br />
  </div>
 </body>
</html>
<script>

$(document).ready(function(){
  const Http = new XMLHttpRequest();
  const url='http://localhost:3000/codes/getCodes';
  Http.open("GET", url);
  Http.send();
  Http.onreadystatechange=(e)=>{
    console.log(Http.responseText)
 $.ajaxSetup({ cache: false });
 $('#search').keyup(function(){
  $('#result').html('');
  $('#state').val('');
  var searchField = $('#search').val();
  var expression = new RegExp(searchField, "i");
  var file = Http.responseText;
  $.getJSON('file', function(data) {
   $.each(data, function(key, value){
    if (value.code_description.search(expression) != -1)
    {
     $('#result').append('<li class="list-group-item link-class">'+value.code_description+' | <span class="text-muted">'+value.code_number+'</span></li>');
    }
   });
  });
 });
}
 $('#result').on('click', 'li', function() {
  var click_text = $(this).text().split('|');
  $('#search').val($.trim(click_text[0]));
  $("#result").html('');
 });
});
</script>
-->
