<h1>Submit Product Request</h1>
&nbsp;
<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Request Title:</label>
        <div class="col-sm-10">
          <input class="form-control mr-sm-2" type="text" name="request-title" value="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Request Category:</label>
        <div class="col-sm-10">
          <input class="form-control mr-sm-2" type="text" name="request-category" value="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Enter description of desired product:</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="desc" rows="8" cols="80"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Set offer deadline:</label>
        <div class="col-sm-10">
            <input class="form-control col-sm-4" type="datetime-local" name="deadline">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
