<app-seller-navbar></app-seller-navbar>


<div class="clearheader"></div>

<body>
<form (submit)="AddCode()">
	<div class="container">
    &nbsp;
		<h1>What goods/services would you like to provide?</h1>
    &nbsp;
    <!-- <div class="card contain">
			<div class="card-body">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Current Good/Service:</label>
					<div *ngIf="None" class="col-sm-6">
						<label class="col-sm-4 col-form-label">None</label>
          </div>
          <div *ngIf="!None" class="col-sm-10">
						<label class="col-sm-4 col-form-label">{{codeNames}}</label>
          </div>
        </div>
      </div>
    </div> -->
		<div class="card contain">
			<div class="card-body">
				<div class="form-group row">
          <label class="col-sm-12" style="color:#FF0000">You are already opted in to the selected ones:</label>
          &nbsp;
					<div class="container-fluid" style="position: relative; right: 4%">
            <ul class="checkbox-grid" *ngFor="let code of codes" id="otis">
              <li *ngIf = "codeList != undefined">
                <div *ngIf="codeList.indexOf(code.code) !== -1">
                  <input type="checkbox" name="code" value={{code.code}} id={{code.code}} (change)="onCheckboxChange(code,$event)" checked/>
                  <label id="piclabel" for={{code.code}}><img src={{code.image}} /></label>
                  <label id="piclabel">{{code.name}}</label>
                </div>
                <div *ngIf="codeArray.indexOf(code.code) === -1">
                  <input type="checkbox" name="code" value={{code.code}} id={{code.code}} (change)="onCheckboxChange(code,$event)"/>
                  <label id="piclabel" for={{code.code}}><img src={{code.image}} /></label>
                  <label id="piclabel">{{code.name}}</label>
                </div>
              </li>
              <li *ngIf = "codeArray == undefined">
                  <div>
                    <input type="checkbox" name="code" value={{code.code}} id={{code.code}} (change)="onCheckboxChange(code,$event)"/>
                    <label id="piclabel" for={{code.code}}><img src={{code.image}} /></label>
                    <label id="piclabel">{{code.name}}</label>
                  </div>
                </li>
            </ul>
          </div>
        </div>
        <button type="submit" class="btn btn-primary col-sm-12" style="align-items: center">{{buttonText}}</button>
			</div>
		</div>
		<div class="clearfooter"></div>
	</div>
</form>
</body>
