html, body {
    height: 100%;
  }

  #container {
    min-height: 100%;
    margin-bottom: -600px;
    position: relative;
  }

  #footer {
    height: 600px;
    position: relative;
  }

  .clearfooter {
    height: 600px;
    clear: both;
  }
