<app-navbar></app-navbar>
<body>
  <form (submit)="onLoginSubmit()" class=" col-md-4 col-md-offset-4">
    <div class="imgcontainer">
     <!-- <img src="assets\gexLogo.png" alt="Avatar" class="avatar">-->
      <h1>Log In</h1>
      <label><b>Buyer</b></label>
    </div>
     <hr>
    <div class="container">

      <input type="text" [(ngModel)]="email" placeholder="Enter Email" name="email" required>


      <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="password" required>

      <a routerLink="/buyer" (click)="onLoginSubmit()"><button type="submit">Login</button></a><br><br>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container">

      <p><a href="#">Forgot password?</a></p>
      <p><a routerLink="/seller-login">Seller? Log in here.</a></p>
    </div>


  </form>
</body>
