<!---Home NavBar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="assets\gexLogo.png" style="max-width: 150px; margin-top: -14px;" class="img-responsive"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!--<ng-container *ngIf="user == 0; else second">-->
  
    <label id="userType"></label>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
        <!---
        <li class="nav-item">
          <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
        </li>
      -->
      </ul>
      <ul class="logForm">
        <li class="nav-item2">
          <a class="nav-link" href="login">Sign In</a>
        </li>
        <li class="nav-item2">
          <a class="nav-link" href="register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  <!---------->

  <form (submit)="onLoginSubmit()" class="col-md-4 col-md-offset-4">
    <div class="imgcontainer">
      <img src="assets\gexLogo.png" alt="Avatar" class="avatar">
      <label><b>Buyer</b></label>
    </div>

    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="text" class="form-control" [(ngModel)]="email" placeholder="Enter Email" name="email" required>

      <label for="password"><b>Password</b></label>
      <input type="password" class="form-control" [(ngModel)]="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>

    <div class="container signin">
        <p>Are you a seller? <a href="/sellerLogin">Sign in here</a>.</p>
      </div>
  </form>

