<body>
    <form (submit)="onLoginSubmit()" class=" col-md-4 col-md-offset-4">
      <div class="imgcontainer">
       <!-- <img src="assets\gexLogo.png" alt="Avatar" class="avatar">-->
        <h1>Log In</h1>
        <label><b>Seller</b></label>
      </div>
       <hr>
      <div class="container">

        <input type="text" [(ngModel)]="email" placeholder="Enter Email" name="email" required>


        <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="password" required>

        <a routerLink="/buyer" (click)="onLoginSubmit()"><button type="submit">Login</button></a><br><br>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container">

        <p><a href="#">Forgot password?</a></p>
      </div>


    </form>
  </body>


 <!--<form (submit)="onLoginSubmit()" class="col-md-4 col-md-offset-4">
        <div class="imgcontainer">
          <img src="assets\gexLogo.png" alt="Avatar" class="avatar">
          <label><b>Seller</b></label>
        </div>

        <div class="container">
          <label for="email"><b>Email</b></label>
          <input type="text" class="form-control" [(ngModel)]="email" placeholder="Enter Email" name="email" required>

          <label for="password"><b>Password</b></label>
          <input type="password" class="form-control" [(ngModel)]="password" placeholder="Enter Password" name="password" required>

          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>

        <div class="container signin">
            <p>Are you a Buyer? <a routerLink="/login">Sign in here</a>.</p>
          </div>
      </form>

-->
