body {
    height: 100vh;
    background-image: url(../../../assets/sky-building1.JPG);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
}

.clearheader {
    height: 100px;
    clear: both;
}

.bubble {
  background-color: #241da6;
  color: white;
}

form{
    margin-top: 25px;
    margin: auto;
    top: 45px;
}

.container {
  color:black;
  opacity: .90;
}

.card {
    border: solid 1px gray;
    background-color: whitesmoke;
    color:black;
    opacity: 1;
}

.parent {
    background-color: white;

}

p {
    font-size: 16px;
}
.btn {

    background-color: rgb(218, 64, 26);
    color: white;
    font-weight: bold;
    opacity: .95;
  }

  /* Add a hover effect for buttons */
  .btn:hover {
  opacity:.75;
  background-color: darkgreen;
  }

  hr {
    border: solid 2px dimgrey !important;

  }
