<app-buyer-navbar></app-buyer-navbar>
<div class="clearheader"></div>
<br><br><br><br>
<body>
  <form  class="flex-container">
    <li>
      <div class="container">
        <h3>Password Update</h3>
      </div>
      <hr>
      <div class="container">
        <div class="form-group">
          <input type="password" class="form-control" [(ngModel)]="oldPassword" placeholder="Enter old Password" name="oldPassword">
          <br>
          <label>Input the new password and confirm it. Passwords must contain:</label>
          <ul>
            <li>at least one number</li>
            <li>at least one uppercase and lowercase letter</li>
            <li>at least 8 or more characters.</li>
          </ul>
          <input type="password" class="form-control" [(ngModel)]="password" placeholder="Enter Password" name="password">
          <br>
          <input type="password" class="form-control" [(ngModel)]="passwordConfirm" placeholder="Confirm Password" name="passwordConfirm">
          <br>
          <a ><button (click)="updatePassword()" type="submit" class="btn btn-primary float-right">Save</button></a>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </li>
  </form>
</body>
<div class="clearfooter"></div>

