body , html {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: node;
  height: 100vh;


}

.flex-container  {
  display: flex;
  position: relative;
  overflow:  hidden;
  justify-content: center;
  margin: auto;
  padding: 16px;



}
.container {
  margin-top: 12%;
  padding: 16px;
  text-align: left;
  width: 40%;

}

.btn {
  margin: 8px;
}


