html, body {
    height: 100%;
    background-image: url(../../../../../src/assets/logistics2.jpg);
    padding: 0;
    background-repeat:no-repeat;
    background-size:cover;
    color: white;
  }

  #container {
    min-height: 100%;
    margin-bottom: -330px;
    position: relative;
  }

  .contain {
    color: black;
    background-color: white;
    opacity: 0.90;
  }

  #footer {
    height: 330px;
    position: relative;
  }

  .clearfooter {
    height: 330px;
    clear: both;
  }
