body, html {
  margin: 0 100px 0 100px;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: node;
  height: 100vh;
  height: 100%;
}

.app-loading {
  position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.clearheader {
  height: 100px;
  clear: both;
}

button{
  white-space: pre-wrap !important;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: blue;
}

.btn {
  width: 250px;
  background-color: rgb(218, 64, 26);
  color: white;
  font-weight: bold;
  opacity: .95;
}

/* Add a hover effect for buttons */
.btn:hover {
  opacity:.75;
  background-color: darkgreen;
}

#container {
  min-height: 100%;
  margin-bottom: -600px;
  position: relative;
}

#footer {
  height: 600px;
  position: relative;
}

.clearfooter {
  height: 400px;
  clear: both;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

table {
  width: 100%;
  text-align: left;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
