<app-buyer-navbar></app-buyer-navbar>

<div class="clearheader"></div>

<!--
Bryan Vu contributed most of this buyer portal page.
-->
<body>
<div class="container-fluid">
  &nbsp;
  <div class="container">
    <div class="row justify-content-md">
      <div>
        <h4 class="page-header">Welcome {{buyer_firstName}}!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
      </div>
      &nbsp;
      <button type="button" routerLink="/buyer/make-request" class="btn btn-block" style="background-color: #1761a0; color: white">Submit
        New Request</button>
    </div>

    <br>

    <div class="row justify-content-md" ng-cloak>
      <div class="col">
        <h3>{{buyer_firstName}}'s Requests</h3>
      </div>
      <div class="input-group col searchBox">
        <input type="text" class="form-control" placeholder="Search Requests" (keyup)="searchFilter($event.target.value)">
      </div>
    </div>
  </div>
  &nbsp;
  <!-----<li class="card container">
    &nbsp;
    <table class="table table-striped table-sm" style="background-color: #282d32; color: white">
      <thead>
        <tr style="text-align:center">
          <th>Name</th>
          <th style="width: 300px;">Status</th>
          <th style="width: 300px;">Offers</th>
          <th style="width: 300px;">Time Left</th>
        </tr>
      </thead>
    </table>

    <mat-accordion>
      <p align="center" *ngIf="requestList.length == 0">
        You have not made any product requests yet.
      </p>
      <mat-expansion-panel id="requestExpansionId" *ngFor="let request of requestList | filter:filter | paginate: {itemsPerPage: 25, currentPage: p}"
        (opened)="expanded(request._id)">
        <mat-expansion-panel-header style="text-align:center">
          <mat-panel-title style="width: 180px" id="requestTitle">
            {{request.title}}
          </mat-panel-title>
          <mat-panel-title style="width:200px">
            Pending
          </mat-panel-title>
          <mat-panel-title style="width: 75px">
            {{request.offerCount}}
          </mat-panel-title>
          <mat-panel-title *ngIf="(request.deadline | amDifference: today :'days' : true | number:'1.0-0') >= 3" style="width: 90px; color: green">
            {{request.deadline | amDifference: today :'days' : true | number:'1.0-0'}} day(s)<br>{{request.deadline | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}
          </mat-panel-title>
          <mat-panel-title *ngIf="(request.deadline | amDifference: today :'days' : true) < 3 && (request.deadline | amDifference: today :'days' : true) >= 1" style="width: 90px; color: orange">
            {{request.deadline | amDifference: today :'days' : true | number:'1.0-0'}} day(s)<br>{{request.deadline | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}
          </mat-panel-title>
          <mat-panel-title *ngIf="(request.deadline | amDifference: today :'days' : true) < 1 && (request.deadline | amDifference: today :'days' : true) > 0" style="width: 90px; color: orange">
            Less than 1 day<br>{{request.deadline | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}
          </mat-panel-title>
          <mat-panel-title *ngIf="(request.deadline | amDifference: today :'days' : true) <= 0" style="width: 90px; color: red">
            EXPIRED<br>{{request.deadline | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}
          </mat-panel-title>
          <mat-panel-title id="selectedRequestId" hidden>
            {{request._id}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="container" style="border:3px solid black; background-color: #dcdde1">
          &nbsp;
          <mat-panel-title>
            Request Description:
          </mat-panel-title>
          <mat-panel-title>
            <div [innerHTML]="request.description"></div>
          </mat-panel-title>
          <mat-panel-title>
            Request Picture:
          </mat-panel-title>
          <mat-panel-title>
            <img class= "requestimage1" src={{request.request_images[0]}} *ngIf="request.request_images[0]" alt="" width="120" height="120">
            <img class= "requestimage2" src={{request.request_images[1]}} *ngIf="request.request_images[1]" alt="" width="120" height="120">
            <img class= "requestimage3" src={{request.request_images[2]}} *ngIf="request.request_images[2]" alt="" width="120" height="120">
          </mat-panel-title>
          <button type="button" class="pull-right btn-danger btn-sm float-sm-right" id="editBtn" (click)="deleteRequestFunction(request._id)">Delete Request</button>
          <br>
          <mat-panel-title>
            Offers:
          </mat-panel-title>
          <br>
          <table class="table table-striped table-sm" style="background-color: #487eb0; color: white">
            <thead>
              <tr style="text-align:center;">
                <th>Title</th>
                <th>Submission Date</th>
                <th>Price</th>
              </tr>
            </thead>
          </table>

          <mat-expansion-panel *ngFor="let offer of offerList" style="background-color: #f5f6fa">
            <mat-expansion-panel-header>
              <mat-panel-title id="offerTitle" style="margin-left: 3%">
                {{offer.title}}
              </mat-panel-title>
              <mat-panel-title id="offerSubDate" style="margin-left: 25%">
                offer-sub-date
              </mat-panel-title>
              <mat-panel-title id="offerPrice" style="margin-left: 30%">
                ${{offer.price}}
              </mat-panel-title>
              <mat-panel-title id="offerId" hidden>
                {{offer._id}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="container" style="border:3px solid #7f8fa6">
              &nbsp;
              <mat-panel-title>
                Offer Details:
              </mat-panel-title>
              <mat-panel-title id="offerDescription">
                {{offer.description}}
              </mat-panel-title>
              <!--
              <mat-panel-title *ngIf="offerCart.indexOf(offer._id) === -1" style="margin-left: 85%">
                <button mat-button (click)="acceptOffer($event.target, offer._id)" id="acceptOfferButton" style="background-color: #8c7ae6; color: white;">Accept Offer</button>#8c7ae6
              </mat-panel-title>
              <mat-panel-title *ngIf="offerCart.indexOf(offer._id) !== -1" style="margin-left: 85%">
                <button [disabled]="true" mat-button style="background-color: #006400; color: white;">Offer In Cart</button>
              </mat-panel-title>-
              <mat-panel-title style="margin-left: 85%">
                <button *ngIf="offer.offerAccepted === true" mat-button (click)="acceptOffer($event.target, offer._id)"
                  id="acceptOfferButton" style="background-color: #4cd137; color: white;" disabled>Offer Accepted</button>
                <button *ngIf="offer.offerAccepted === false" mat-button (click)="acceptOffer($event.target, offer._id)"
                  id="acceptOfferButton" style="background-color: #8c7ae6; color: white;">Accept Offer</button>
              </mat-panel-title>
              &nbsp;
            </div>
          </mat-expansion-panel>
          &nbsp;
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    &nbsp;

    <pagination-controls (pageChange)="p = $event" previousLabel="Previous" nextLabel="Next" directionLinks="true"
      autoHide="true">
    </pagination-controls>
  </li>--
  </div>
    <div class="container">
      <table mat-table
        [dataSource]="dataSourceRequests"
        class="mat-elevation-z8">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: 16px">Title</th>
          <td mat-cell *matCellDef="let element">{{element.title}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: 16px">Status</th>
            <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>

        <ng-container matColumnDef="offerCount">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: 16px">Offers</th>
            <td mat-cell *matCellDef="let element">{{element.offerCount}}</td>
        </ng-container>

        <ng-container matColumnDef="deadline">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: 16px">Time Remaining</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="(element.deadline | amDifference: today :'days' : true | number:'1.0-0') > 3" style="width: 90px; color: green">{{element.deadline | amDifference: today :'days' : true | number:'1.0-0'}} day(s)<br>{{element.deadline | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}</span>
              <span *ngIf="(element.deadline | amDifference: today :'days' : true) <= 3 && (element.deadline | amDifference: today :'days' : true) >= 1" style="width: 90px; color: orange">{{element.deadline | amDifference: today :'days' : true | number:'1.0-0'}} day(s)<br>{{element.deadline | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}</span>
              <span *ngIf="(element.deadline | amDifference: today :'days' : true) < 1 && (element.deadline | amDifference: today :'days' : true) > 0" style="width: 90px; color: orange">{{element.deadline | amDifference: today :'days' : true | number:'1.0-0'}} day(s)<br>{{element.deadline | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}</span>
              <span *ngIf="(element.deadline | amDifference: today :'days' : true) <= 0" style="width: 90px; color: red">{{element.deadline | amDifference: today :'days' : true | number:'1.0-0'}} day(s)<br>{{element.deadline | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
  </div>-->
</div>

    <div class="container">
        <table mat-table
        [dataSource]="dataSourceRequests" multiTemplateDataRows matSort
        class="mat-elevation-z8">

   <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToGetRequestInfo">
     <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; font-size: 16px">
      <span *ngIf="column === 'title'">Title</span>
      <span *ngIf="column === 'status'">Status</span>
      <span *ngIf="column === 'offerCount'">Offers</span>
      <span *ngIf="column === 'deadline'">Time Remaining</span>
    </th>
     <td mat-cell *matCellDef="let element">
        <span *ngIf="column === 'deadline'; else other;">
            <span *ngIf="(element.deadline | amDifference: today :'days' : true | number:'1.0-0') >= 3" style="width: 90px; color: green" style="width: 90px; color: green">{{element.deadline | amDifference: today :'days' : true | number:'1.0-0'}} day(s)<br>{{element.deadline | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}</span>
            <span *ngIf="3 > (element.deadline | amDifference: today :'days' : true) && (element.deadline | amDifference: today :'days' : true) >= 1" style="width: 90px; color: orange">{{element.deadline | amDifference: today :'days' : true | number:'1.0-0'}} day(s)<br>{{element.deadline | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}</span>
            <span *ngIf="(element.deadline | amDifference: today :'days' : true) < 1 && (element.deadline | amDifference: today :'days' : true) > 0" style="width: 90px; color: orange">Less than 1 day<br>{{element.deadline | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}</span>
            <span *ngIf="(element.deadline | amDifference: today :'days' : true) <= 0" style="width: 90px; color: red">EXPIRED<br>{{element.deadline | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}</span>
          </span>
        <ng-template #other>{{element[column]}}</ng-template>
     </td>
   </ng-container>

   <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
   <ng-container matColumnDef="expandedDetail">
     <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToGetRequestInfo.length">
       <div class="example-element-detail"
            [@detailExpand]="element == expandedRequestElement ? 'expanded' : 'collapsed'">
            <div class="container" style="border:3px solid #7f8fa6; background-color:azure">
                &nbsp;
                <div *ngIf="element.request_images[0]">
                  <h6>Request Pictures:</h6>
                    <img class= "requestimage1" src={{element.request_images[0]}} *ngIf="element.request_images[0]" alt="" width="120" height="120">
                    &nbsp;
                    <img class= "requestimage2" src={{element.request_images[1]}} *ngIf="element.request_images[1]" alt="" width="120" height="120">
                    &nbsp;
                    <img class= "requestimage3" src={{element.request_images[2]}} *ngIf="element.request_images[2]" alt="" width="120" height="120">
                 </div>
                 <div *ngIf="!element.request_images[0]">
                    <h6>No Request Pictures Submitted.</h6>
                  </div>
                 &nbsp;
                 <div>
                    <h6>Request Description:</h6>
                    <div [innerHTML]="element.description"></div>
                    <button type="button" class="pull-right btn-danger btn-sm float-sm-right" id="editBtn" (click)="deleteRequestFunction(element._id)">Delete Request</button>
                    &nbsp;
                 </div>
                 &nbsp;
                 <div>
                   <h6>Offers for "{{element.title}}" Request:</h6>
                 </div>
                 <div class="container">
                    <table mat-table
                    [dataSource]="dataSourceOffers" multiTemplateDataRows
                    class="mat-elevation-z8">
                      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToGetOfferInfo">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: 16px">
                          <span *ngIf="column === 'title'">Title</span>
                          <span *ngIf="column === 'created_at'">Submission date</span>
                          <span *ngIf="column === 'shippingPrice'">Shipping Price</span>
                          <span *ngIf="column === 'price'">Offer Price</span>
                          </th>
                          <td mat-cell *matCellDef="let element">
                              <span *ngIf="column === 'created_at'">
                                  <span>{{element.created_at | amLocale:'en' | amDateFormat: 'MM-DD-YYYY hh:mm a'}}</span>
                                </span>
                                <span *ngIf="column === 'shippingPrice'">
                                    <span>${{element.shippingPrice}}</span>
                                  </span>
                                  <span *ngIf="column === 'title'">
                                      <span>{{element.title}}</span>
                                    </span>
                                  <span *ngIf="column === 'price'; else other">
                                      <span>${{element.price}}</span>
                                    </span>
                              <ng-template #other></ng-template>
                          </td>
                        </ng-container>

                        <!-- Expanded Offer Column - The detail row is made up of this one column that spans across all columns -->
                        <ng-container matColumnDef="expandedDetail">
                          <td mat-cell *matCellDef="let offer_element" [attr.colspan]="columnsToGetOfferInfo.length">
                            <div class="example-element-detail"
                            [@detailExpand]="offer_element == expandedOfferElement ? 'expanded' : 'collapsed'">
                              <div class="container" style="border:3px solid #7f8fa6; background-color:azure">
                                &nbsp;
                                &nbsp;
                                <div>
                                  <h6>Seller Name:</h6>
                                  <span>{{seller_firstName}} {{seller_lastName}}</span>
                                </div>
                                &nbsp;
                                <div>
                                    <h6>Offer Description:</h6>
                                    <div class="float-center" [innerHTML]="offer_element.description"></div>
                                 </div>
                                 &nbsp;
                                 <div>
                                  <h6>Offer Images:</h6>
                                  <label *ngIf = "!offer_element.offer_images[0]">No Images Submitted </label>
                                  <img class="OfferImageDisplay" *ngIf = "offer_element.offer_images[0]" src={{offer_element.offer_images[0]}} alt="" width="120" height="120">
                                  <img class="OfferImageDisplay" *ngIf = "offer_element.offer_images[1]" src={{offer_element.offer_images[1]}} alt="" width="120" height="120">
                                  <img class="OfferImageDisplay" *ngIf = "offer_element.offer_images[2]" src={{offer_element.offer_images[2]}} alt="" width="120" height="120">
                                 </div>
                                 &nbsp;
                                 <div>
                                    <h6>Completion & Delivery Promise:</h6>
                                    <div class="float-center" [innerHTML]="offer_element.expected_completion"></div>
                                    &nbsp;
                                    <button mat-button *ngIf="offer_element.offerAccepted" class="pull-right btn-danger btn-sm float-sm-right" (click)="acceptOffer($event.target, offer_element._id, element._id)" id="acceptOfferButton" style="background-color:limegreen; color: white;" disabled>Offer Accepted</button>
                                    <button mat-button *ngIf="!offer_element.offerAccepted" class="pull-right btn-danger btn-sm float-sm-right" (click)="acceptOffer($event.target, offer_element._id, element._id)" id="acceptOfferButton" style="background-color:slateblue; color: white;">Accept Offer</button>
                                    &nbsp;
                                 </div>
                                 &nbsp;
                              </div>
                            </div>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToGetOfferInfo"></tr>
                        <tr mat-row *matRowDef="let offer_element; columns: columnsToGetOfferInfo;" (click)="expandedOffer(offer_element.seller_ID)"
                          class="example-element-row"
                          [class.example-expanded-row]="expandedOfferElement === offer_element"
                          (click)="expandedOfferElement = expandedOfferElement === offer_element ? null : offer_element">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                        </table>
                        <div *ngIf="dataSourceOffers.length === 0" class="float-center">
                            <div class="card mat-elevation-z8" style="border-color:#7f8fa6; border-width: 3px; text-align: center">
                              &nbsp;
                                <h6>You do not yet have offers for this request.</h6>
                                &nbsp;
                            </div>
                           </div>
                        &nbsp;
                 </div>
                 &nbsp;
            </div>
       </div>
     </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="columnsToGetRequestInfo"></tr>
   <tr mat-row *matRowDef="let element; columns: columnsToGetRequestInfo;" (click)="expanded(element._id)"
       class="example-element-row"
       [class.example-expanded-row]="expandedRequestElement === element"
       (click)="expandedRequestElement = expandedRequestElement === element ? null : element">
   </tr>
   <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
 </table>
 <div *ngIf="dataSourceRequests.filteredData.length === 0" class="float-center">
  <div class="card mat-elevation-z8" style="border-color:#7f8fa6; border-width: 3px; text-align: center">
    &nbsp;
      <h6>No product requests to show here.</h6>
      &nbsp;
  </div>
 </div>
 <mat-paginator [length]="dataSourceRequests.filteredData.length" [pageSize]="25">
</mat-paginator>
    </div>


</body>

<div class="clearfooter"></div>
