<app-buyer-navbar></app-buyer-navbar>

<div class="clearheader"></div>

<!--
Bryan Vu contributed most of this buyer portal page.
-->

<div class = "container" *ngIf="buyer">
&nbsp;
  <div class="row justify-content-md">
    <div>
      <h4 class="page-header">Welcome {{buyer.data.first_name}}!</h4>

      <button type="button" routerLink="/buyer/make-request" class="btn btn-block">Submit New Request</button>
    </div>
  </div>


          <br>


          <div class="row justify-content-md">
            <div class="col">
              <h3>{{buyer.data.first_name}}'s Requests</h3>
            </div>
            <div class="input-group col searchBox">
              <input type="text" class="form-control" placeholder="Search Requests" [(ngModel)]="filter">

            </div>
          </div>
          &nbsp;
            <li class="card container" *ngFor="let request of requestList | filter:filter | paginate: {itemsPerPage: 5, currentPage: p}">
              &nbsp;

              <div class="row">
                <div class="col-md-auto">
                  <h4>{{request.title}}</h4>
                </div>
                <div class="col">
                <p><b>Offer count:</b> {{request.offerCount}}</p>
                </div>
              </div>

              <p><b>Deadline:</b> {{request.deadline}}</p>
              <p><b>Description:</b> {{request.description}}</p>
              <div class="col-sm-12" style="text-align: right;">
              <button type="button" routerLink="/request/{{request._id}}" class="btn">View Offers</button>
               </div>
              <br>

            </li>

            <br>

            <pagination-controls (pageChange) = "p = $event"
                     previousLabel = "Previous"
                     nextLabel = "Next"
                     directionLinks = "true"
                     autoHide = "true">
                   </pagination-controls>




    <div class="clearfooter"></div>
