<app-buyer-navbar></app-buyer-navbar>
<flash-messages></flash-messages>

<div class = "container">
&nbsp;
  <div class="row justify-content-md">
    <div class="col col">
    <h1 class="page-header">Welcome {{buyer.first_name}}!</h1>
    </div>
    <div class="col col-lg-auto">
      <button type="button" routerLink="/buyer/make-request" class="btn btn-block btn-lg btn-primary">Submit a new request</button>
    </div>
  </div>
    <div class="tabbable">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" [ngClass]="{'active':currentTab === 'requests'}" data-target="#requests" role="tab" aria-controls="requests" aria-selected="true" (click)="requests('requests')">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" [ngClass]="{'active':currentTab === 'history'}" data-target="#history" role="tab" aria-controls="history" aria-selected="false" (click)="history('history')">History</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="requests" [ngClass]="{'active':currentTab === 'requests'}" role="tabpanel" aria-labelledby="requests-tab">
          &nbsp;
          <p>Requests go here</p>
      </div>
      <div class="tab-pane fade show" id="history" [ngClass]="{'active':currentTab === 'history'}" role="tabpanel" aria-labelledby="history-tab">History goes here</div>
    </div>
</div>
