<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color:white; border-bottom: 5px solid #EDEDED; height: 100px;">
  <a class="navbar-brand" routerLink="/buyer" routerLinkActive="active" style="font-size: 22px"><img src="assets\requirenSimpleLogoPNG.png" width="200" height="60" style="margin-top: 5px; margin-left: 15px" class="img-responsive"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 50px">
    <ul class="navbar-nav ml-auto">
      <a class="nav-item">
          <img class="img-circle" src= {{profile_image}} *ngIf="profile_image" alt="" width="40" height="40">
          <img class="img-circle" src= {{profile_image}} *ngIf="!(profile_image)" alt="" width="40" height="40">
      </a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/buyer" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="font-size: 20px; font-family: Open Sans">
          {{buyer_firstName}} {{buyer_lastName}}<span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="font-family: Open Sans">
          <a class="dropdown-item" routerLink="/buyer/make-request" routerLinkActive="active-link">Submit New Request</a>
          <a class="dropdown-item" routerLink="/buyer" routerLinkActive="active-link">Go to My Portal</a>
          <a class="dropdown-item" routerLink="/buyer" routerLinkActive="active-link">Purchases</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/buyer/buyer-account" routerLinkActive="active-link">My Account</a>
          <a class="dropdown-item" (click)="onLogoutClick()" routerLink="/buyer-login" routerLinkActive="active-link" style="color:red">Logout</a>
          <!----<a *ngIf="logout == true" class="dropdown-item" (click)="onLogoutClick()" routerLink="/buyer-login" routerLinkActive="active-link">Logout</a>-->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown">
          <img class="img-cart" src="../../../../assets/cartLogo.png" alt="" width="35" height="35"><span *ngIf="buyer_cart.length > 0" class="cartBadge" matBadge="{{buyer_cart.length}}" matBadgeColor="warn" matBadgeSize="medium"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="font-family: Open Sans">
              <a *ngIf="buyer_cart.length == 0"class="dropdown-item" routerLink="/buyer/make-request" routerLinkActive="active-link">Cart empty.</a>
              <a *ngIf="buyer_cart.length == 1"class="dropdown-item" routerLink="/buyer/make-request" routerLinkActive="active-link">You have 1 offer in your cart.</a>
              <a *ngIf="buyer_cart.length > 1"class="dropdown-item" routerLink="/buyer/make-request" routerLinkActive="active-link">You have {{buyer_cart.length}} offers in your cart.</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"><button type="button" routerLink="/buyer/cart" routerLinkActive="active-link" class="btn" style="background-color: #4cd137;">Go to Cart</button>
              </a>
            </div>
      </li>
    </ul>
  </div>
</nav>
