
body{

  background-color: rgb(5, 53, 42);
  background-image: url("angular-src\src\assets\gexRegBackground.jpg");
  background-repeat: repeat-x;
  opacity: .88;
}




form {
  color: white;
  border: 3px solid #f1f1f1;
  width: 35rem;
  height: 55rem;
  position: relative;
  text-align: left;
  margin: auto;

}

/* Add padding to containers */
.container {
  padding: 1rem;

}
.innerform {
  padding: 20px;
}

.header {
  text-align: center;
  padding: 0rem;
  width: 100%;
  margin: 0;
}

/* Full-width input fields */
input[type=text], input[type=password] , input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #bbbaba;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(221, 221, 221);
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #a9abfa;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.btn {
  background-color: rgb(187, 138, 75);
  color: white;
  font-size: 16px;
  padding: 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}


.btn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
