
body{
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: node;
  height: 100vh;
  background-repeat:no-repeat;
  background-size:cover;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

form {
  color: black;
  border: none;
  width: 433px;
  height: 630px;
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  overflow: hidden;
  align-content: center;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}
form:hover {
  box-shadow: 0 14px 30px 0 rgba(0,0,0,0.2);
}

/* Add padding to containers */
.container {
  padding: 16px;

}
.innerform {
  padding: 20px;
}

.header {
  text-align: center;
  padding: 0;
  width: 100%;
  margin: 0;
}

/* Full-width input fields */
input[type=text], input[type=password] , input[type=tel] {
  width: 400px;
  height: 50px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #0d0f11;
  opacity: .65;
  color: white;


}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(112, 58, 70);
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #d3d3e6;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.btn {
  background-color: rgb(17, 112, 221);
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px;
  margin: 12px 0px;
  border: none;
  cursor: pointer;
  width: 400px;
  height: 50px;
  padding: 15px;
  opacity: 0.9;
}


.btn:hover {
  opacity:.75;
  background-color: darkgreen;
}


/* Add a blue text color to links */
a {
  color: rgb(45, 133, 216);
  font-size: 14px;
  font-weight: bold;
}


/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

::placeholder {
  color: whitesmoke;
  opacity: 1; /* Firefox */
  font-size: 15px;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: whitesmoke;
 font-size: 15px;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: whitesmoke;
 font-size: 15px;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: blue;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}