<body>

    <div class="container">
     <form (submit)="OnBuyerRegisterSubmit()" >
        <div class="container">
          <div class ="container header">

            <h1>Please Register</h1>

            </div>

            <hr>

            <label for="email"><b>Email</b></label>
            <input type="text" [(ngModel)]="email" name="email" placeholder="Enter Email"  required>

            <label for="firstName"><b>First Name</b></label>
            <input type="text" placeholder="Enter First Name" [(ngModel)]="first_name" name="first_name" required>

            <label for="lastName"><b>Last Name</b></label>
            <input type="text" placeholder="Enter Last Name" [(ngModel)]="last_name" name="last_name" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="psw" required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" [(ngModel)]="confirmPassword" name="psw-repeat" required>
            <hr>

            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

            <button type="submit" class="btn" routerLink="/buyer-register" routerLinkActive="active">Register</button>



            <p>Already have an account? <a routerLink="/login" routerLinkActive="active">Sign in</a>.</p>

        </div>
     </form>

    </div>
</body>
