
body{
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: node;
  height: 100vh;
  background-image: url("../../../../../src/assets/grandCanyonGex.jpg");
  background-color: rgb(5, 53, 42);
  background-repeat:no-repeat;
  background-size:cover;

}

form {

  color: white;
  border: none;
  width: 433px;
  height: 600px;
  position: relative;
  text-align: left;
  margin-top: 35px;

}

/* Add padding to containers */
.container {
  padding: 16px;

}
.innerform {
  padding: 20px;
}

.header {
  text-align: center;
  padding: 0;
  width: 100%;
  margin: 0;
}

/* Full-width input fields */
input[type=text], input[type=password] , input[type=tel] {
  width: 400px;
  height: 50px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #0d0f11;
  opacity: .65;
  color: white;


}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(112, 58, 70);
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #d3d3e6;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.btn {
  background-color: rgb(177, 53, 5);
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 400px;
  height: 50px;
  padding: 15px;
  opacity: 0.9;
}


.btn:hover {
  opacity:.75;
  background-color: darkgreen;
}


/* Add a blue text color to links */
a {
  color: white;
  font-size: 18px;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

::placeholder {
  color: whitesmoke;
  opacity: 1; /* Firefox */
  font-size: 15px;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: whitesmoke;
 font-size: 15px;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: whitesmoke;
 font-size: 15px;
}
