body{
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: node;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;

}

form {
  border: 4px outset rgba(245, 245, 245, 0.582);
  position: relative;
  top:30%;
  left: 50%;
  bottom: 50%;
  width: 600px;
  height: 400px;
  overflow: hidden;
  transform: translate(-50%,-50%);

}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loader {
  text-align: center;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #f44336; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}


/* Add padding to containers */
.container {
  padding: 16px;

}



