<app-navbar></app-navbar>
<body>
  <form class="col-md-4 col-md-offset-4">
    <div class="imgcontainer">
      <h2>Well done!</h2>
      <br>
      <h4>Your account is now activated!</h4>
      <br>
      <h4><strong>Redirecting...</strong></h4>
      <br>
      <!--<div class="loader"></div>-->
      <img src="../../../../assets/loadingICon.gif"  width="70" height="70" title="loading icon">
      <br>
      <br>
      <span class="Resend Email">Not automatically redirecting?<a routerLink="/" routerLinkActive="active">Click here!</a></span>
      <br>
      <br>
    </div>
  </form>
</body>
