<app-navbar></app-navbar>
<html>
<body>
  <header class="mainheader">
   <div>
     <div class="row">
        <h2>Do more of what you love. </h2>
     </div>
   </div>

  </header>
  <section class="mark-1">
     <div class="row-1">
       <h2>Our shoppers love Requiren because they are in control from the start.</h2>
        <h2>For you, this means no more guessing what your customer want.</h2>
        <h2>A match made in heaven.
          </h2>

     </div>
     <div class="row-2">

          <div class="col-md-4" >
              <hr>
              <button type="button" routerLink="" class="btn btn-block">Register!</button>
           </div>
     </div>
  </section>
  <section class="mark-2">
      <div class="card-table">
          <div class="card">
              <div class="card-head">
                  <h4>Say Yes to:</h4>
              </div>
              <div class = "card-container">
               <ul>
                 <li>A sale for every item made</li>
                 <li>Knowing exactly what shoppers want</li>
                 <li>Letting Requiren bring customer to you</li>
                 <li>Free Registration</li>
                 <li>Only 3% transaction fee-that's it!</li>
                 <li>Easy Sale</li>
               </ul>
             </div>
           </div>
           <div class="card">
              <div class="card-head">
                  <h4>Say No to:</h4>
              </div>
               <div class = "card-container">
                 <ul>
                   <li>Unsold goods</li>
                   <li>Guessing what customer want</li>
                   <li>Predicting what will sell and what won't</li>
                   <li>Frustrated buyers and poor reviews</li>
                   <li>Long Listing Fees</li>
                   <li>High Transaction Costs</li>
                 </ul>
               </div>
             </div>
      </div>


  </section>
  <section>
    <div class="mark-3">
      <h2>With Requiren, tell us what you sell and we'll do the rest</h2>
      <hr>
    </div>

  </section>
  <footer>
    <div class="foot">
      <p>Coming Soon!</p>
    </div>
  </footer>


</body>
</html>
