.submitBtn{
    margin-top: 0px;
    margin-left: 923px;
    position: absolute;
    background-color: #e60000;
    border-color: black;
    border-width: 0.5px;
  }
  .dropDownBtn{
    position: absolute;
    margin-top: 0px;
    margin-left: 982px;
  }
  .dDownBtn{
    background-color: #0066ff;
    border-color: black;
    border-width: 0.5px;
  }
  .submitSearchBtn{
    background-color: #e60000;
    border-color: black;
    border-width: 0.5px;
  }
  .searchBox{
    position: absolute;
    margin-top: 60px;
    width: 1080px;
  }

  html, body {
    height: 100%;
  }

  #container {
    min-height: 100%;
    margin-bottom: -330px;
    position: relative;
  }
  
  #footer {
    height: 330px;
    position: relative;
  }

  .clearfooter {
    height: 330px;
    clear: both;
  }

  .editBtn{
    background-color: darkorange;
  }
  .saveBtn{
    background-color: #e60000;
  }

  .divider{
    width:10px;
    height:auto;
    display:inline-block;
  }

  .clearheader {
    height: 100px;
    clear: both;
}