.submitBtn{
    margin-top: 0px;
    margin-left: 923px;
    position: absolute;
    background-color: #e60000;
    border-color: black;
    border-width: 0.5px;
  }
  .dropDownBtn{
    position: absolute;
    margin-top: 0px;
    margin-left: 982px;
  }
  .dDownBtn{
    background-color: #0066ff;
    border-color: black;
    border-width: 0.5px;
  }
  .submitSearchBtn{
    background-color: #e60000;
    border-color: black;
    border-width: 0.5px;
  }
  .searchBox{
    position: absolute;
    margin-top: 60px;
    width: 1080px;
  }

  html, body {
    height: 100%;
  }

  #container {
    min-height: 100%;
    margin-bottom: -330px;
    position: relative;
  }
  
  #footer {
    height: 330px;
    position: relative;
  }

  .clearfooter {
    height: 330px;
    clear: both;
  }

  .editBtn{
    background-color: darkorange;
  }
  .saveBtn{
    background-color: #e60000;
  }

  .divider{
    width:10px;
    height:auto;
    display:inline-block;
  }

  .clearheader {
    height: 100px;
    clear: both;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: blue;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}