<div class="container">
&nbsp;
<h1>My Account</h1>
&nbsp;
<div class="card">
  <div class="card-body">
    <h4>Personal Information</h4>
    &nbsp;
    <form *ngIf="buyer">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">First Name:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="first_name" value={{buyer.first_name}}>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Last Name:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="last_name" value={{buyer.last_name}}>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email Address:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="email" value={{buyer.email}}>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-10">
          <input class="form-control" type="password" name="password" value={{buyer.password}}>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Save Info</button>
        </div>
      </div>
    </form>

  </div>
</div>
</div>
