<app-buyer-navbar [logout]="buyerLogout"></app-buyer-navbar>

<div class="clearheader"></div>

<!-- BOOTSTRAP via CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<!--Buyer account page
Basic structure (labels, fields, etc) - Bryan Vu-->

<div class="container">
  &nbsp;
  <h1>Account Management</h1>
  &nbsp;
  <div class="card contain">
    <div class="card-body">
      <form action="/action_page.php">

        <div class="row">

        <div class="col-md-3">
          <img class= "profilePicutre" src={{buyer_profile_image}} *ngIf="buyer_profile_image && spinner === false" alt="" width="120" height="120">
          <div class="spin" *ngIf="spinner === true">
              <mat-spinner class="example-margin" [diameter]="100"></mat-spinner>
              <div style="height: 40px;"></div>
          </div>
          <img class="profilePicutre" src="https://pofileimages.s3.amazonaws.com/1550791120608" *ngIf="!(buyer_profile_image) && spinner === false" alt="" width="120" height="120">
          <div class="form-group">
            <label for="profImage" *ngIf="spinner === false">Upload Profile Image: </label><br>
            <label for="profImage" *ngIf="spinner === true">Uploading Profile Image... </label><br>
            <input #imageInput *ngIf="spinner === false" type="file" accept="image/*" (change) = "processFile(imageInput)">
          </div>
        </div>

        <div class="col">
          <div class="row justify-content-md">
            <div class="col-md-4">
          <h4>Personal Information</h4>
          </div>
          <div class="col">
            <button type="button" class="btn" id="editBtn" (click)="editFunction()" style="background-color: whitesmoke">Edit</button>
            <button type="button" class="btn btn-primary" id="saveBtn" (click)="saveFunction()" hidden>Save</button>
            <div class="divider"></div>
            <button type="button" class="btn" id="cancelBtn" (click)="cancelButtonPressed()" style="background-color: whitesmoke" hidden>Cancel</button>

          </div>
          </div>
          <hr>
          &nbsp;
          <label id="errorMessage" hidden>{{this.errorMessage}}</label>
        <div class="form-group">
          <label for="fName">First Name:</label>
          <input type="text" class="form-control" id="fName" name="firstName" value={{buyer_firstName}} disabled
            required>
        </div>
        <div class="form-group">
          <label for="lName">Last Name:</label>
          <input type="text" class="form-control" id="lName" name="lastName" value={{buyer_lastName}} disabled
            required>
        </div>
        <div class="form-group">
          <label for="eAddress">Email Address:</label>
          <input type="email" class="form-control" id="eAddress" name="emailAddress" value={{buyer_email}}
            disabled required>
        </div>
        <a routerLink="/buyer/updatePass" routerLinkActive="active">Change Password</a>
        <!--<div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" name="password" value={{buyer.data.password}} disabled
            required>
        </div>
        <div class="form-group" id="newPass" hidden>
          <label for="newPwd">New Password:</label><br>
          <input type="password" placeholder="New Password" class="form-control" id="newPwd" name="newPassword"
            required>
        </div>
        <div class="form-group" id="verify" hidden>
          <label for="verifyPwd">Confirm Password:</label>
          <input type="password" placeholder="Confirm Password" class="form-control" id="verifyPwd" name="verifyPassword"
            required>
        </div>
        -->
        &nbsp;


        <div class="row justify-content-md">
          <div class="col">
            <h4>Payment Information</h4>
          </div>
          <div class="col">
            <p style="text-align: right">Add/Edit Cards</p>
          </div>
        </div>
        <hr>
        &nbsp;

        <h4>Notification Settings</h4><hr>

        </div>



        </div>



      </form>

    </div>
  </div>
  <div class="clearfooter"></div>
</div>

<div class="spin" *ngIf="spinner === true">
    <mat-spinner class="example-margin" [diameter]="100"></mat-spinner>
    <div style="height: 700px; clear: both;"></div>
  </div>
