<form (submit)="OnBuyerRegisterSubmit()" class="col-md-8 col-md-offset-8">
    <div class="container">
      <div class ="container header">
  
      <h1>Best Description of You</h1>
      <p>Please select one below.</p>
      </div>
  
      <hr>

      <button type="button" class="buyerbtn" onclick="location.href='http://localhost:4200/BuyerRegister'">BUYER</button>
      <button type="button" class="sellerbtn" onclick="location.href='http://localhost:4200/SellerRegister'">SELLER</button>
    </div>
  </form>
  