<app-navbar></app-navbar>
<html>
<body>
  <!-- Masthead -->
  <header class="masthead text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
          <h1 class="mainheader mb-5">Your requests - delivered</h1>
          <h3 style="color: #ac34cf;">A place to commission custom-made arts and crafts, for any occasion</h3>
        </div>
  </div>
  </header>
  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <!--In the future, the "art and crafts" should be dynamic text that will switch between our taxonomy-->
         <h2 class="col-12 text-center">Getting personalized art and crafts from quality creators shouldn’t be hard</h2>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"><img src="../../../assets/Search.png" style="height: 50px; width: 50px"></i>
            </div>
            <h3>No More Searching</h3>
            <p class="lead mb-0">Tell us the requirements, relax, and wait for offers</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"><img src="../../../assets/Bullseye.png" style="height: 50px; width: 50px"></i>
            </div>
            <h3>Personalized, custom goods made just for you</h3>
            <p class="lead mb-0">Our creators review your request directly, 1 by 1, before responding with an offer</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"><img src="../../../assets/Money.png" style="height: 50px; width: 50px"></i>
            </div>
            <h3>When sellers compete, you win</h3>
            <p class="lead mb-0">Sellers will provide their goods and services as cheap as possible.</p>
          </div>
        </div>
      </div>
       <div style="display: flex; justify-content: center">
          <div class="col-md-3" >
             <button type="button" routerLink="/buyer-register" class="btnContact btn-outline-success">Register!</button>
          </div>
      </div>
    </div>
  </section>
  <section>
    <div class="howitworks">
      <div>
        <h3>How It Works</h3>
      </div>
      <hr>
      <div class="row-1">
          <ul>
              <li>Describe your requirements</li><br>
              <li>Step back, relax, & wait for  personalized offers to come in</li><br>
              <li>Review & compare offers from our top-notch sellers</li>
            </ul>
      </div>
    </div>
</section>
  <!-- Image Showcases -->

  <section class="mark-2">
      <div class="card-table">
          <div class="card">
              <div class="card-head">
                  <h4>Commision:</h4>
              </div>
              <div class = "card-container">
               <ul>
                 <li>Art</li>
                 <li>Drawing</li>
                 <li>Portraits</li>
                 <li>Sculptures</li>
                 <li>Paintings</li>

               </ul>
             </div>
           </div>
           <div class="card">
              <div class="card-head">
                  <h4>Customized:</h4>
              </div>
               <div class = "card-container">
                 <ul>
                   <li>Craft</li>
                   <li>Woodworkings</li>
                   <li>Ceramic</li>
                   <li>Jewlery</li>
                   <li>Rugs</li>
                   <li>Plastic & Metal</li>
                   <li>Blankets</li>
                   <li>Knittings</li>
                 </ul>
               </div>
             </div>
             <div class="card">
                <div class="card-head">
                    <h4>Tailored Clothing:</h4>
                </div>
                 <div class = "card-container">
                   <ul>
                    <li>Sweaters</li>
                    <li>Shirts</li>
                    <li>Accessories</li>
                    <li>Pants</li>
                    <li>Shoes & Sandals</li>
                    <li>Bracelets</li>
                   </ul>
                 </div>
               </div>

      </div>
</section>
<section>
  <div  class="calltoaction">
  <div>
    <h3>Anything else you need?</h3>
  </div>
  <div class="cn-btn">
      <button type="button" routerLink="" class="btnContact btn-outline-success">CONTACT US</button>
  </div>
</div>
</section>
</body>
</html>
