<app-navbar></app-navbar>

<body>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">

          <h1 class="mb-5">Grand Exchange: Finding lower prices has never been easier.</h1>

        </div>
        <div class="col-8 col-md-4"></div>

        <div class="col-8 col-md-4">
          <button type="button" routerLink="/buyer-register" class="btn btn-block btn-lg btn-primary">Register!</button>
        </div>

      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Spend less time searching.</h3>
            <p class="lead mb-0">Just create a request and the offers will come to you!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Always find the perfect match.</h3>
            <p class="lead mb-0">Choose from a plethora of providers.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Competitive pricing.</h3>
            <p class="lead mb-0">Sellers will provide their goods and services as cheap as possible.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="item1 col-lg-6 order-lg-2 text-white showcase-img"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>How It Works</h2>
          <p class="lead mb-0">We will do the work on your behalf and will connect you with the best seller and the
            lowest
            prices.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="item2 col-lg-6 text-white showcase-img"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>A Better Way to Do Business</h2>
          <p class="lead mb-0">Our mission is to integrate the human and business elements. Sign up with GEX and
            experiene the most efficient way to buy online.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="item3 col-lg-6 order-lg-2 text-white showcase-img"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Ready to Buy?</h2>
          <p class="lead mb-0">Submit your request and get matched with thousands of sellers waiting to make you
            personalized offers.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="item4 col-lg-6 text-white showcase-img"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Ready to Sell?</h2>
          <p class="lead mb-0">List your product or service and start getting matched with thousands of buyers ready to
            receive your offers.</p>
        </div>
      </div>
    </div>
  </section>

  <!--
  //have to find out a way to add testimonial images
      <section class="testimonials text-center bg-light">
        <div class="container">
          <h2 class="mb-5">What people are saying...</h2>
          <div class="row">
            <div class="col-lg-4">

              <div class="testimonial-item mx-auto mb-5 mb-lg-0">

                <h5>Margaret E.</h5>
                <p class="font-weight-light mb-0">"I don't have search for lower prices anymore!"</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="../../../../src/assets/testimonials-2.jpg" alt="">
                <h5>Fred S.</h5>
                <p class="font-weight-light mb-0">"I save so much time which allows me to do other things instead of shopping."</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="../../../../src/assets/testimonials-3.jpg" alt="">
                <h5>Sarah	W.</h5>
                <p class="font-weight-light mb-0">"all I had to do was request what I wanted!"</p>
              </div>
            </div>
          </div>
        </div>
      </section>
-->
  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Register now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-4"></div>
              <div class="col-12 col-md-4">
                <button type="button" routerLink="buyer-register" class="btn btn-block btn-lg btn-primary">Register!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>

        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>