

body , html {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 100px 0 100px;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: node;
  height: 100vh;
  height: 100%;

}
.card-container {
  height: auto;

}

.testimonials {

  padding: 12px;

}


.container-fluid {
  height: 800px;
  min-height: 400px;
  margin: 0;
  padding: 0;
}
.steps{
  background-color: rgba(47, 121, 124, 0.746);
  height: 400px;
  padding: 0;
  margin-bottom: -50px;
  box-shadow: 0px -8px 8px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 8px;
  text-align: center;
  color: white;
  padding: 12px;

}
.row {
  padding: 12px;
}

.steps:hover {
  box-shadow: 0px -12px 12px 8px rgba(0,0,0,0.2);
}
.howitworks {
  background-color: rgb(218, 214, 214);
  height: 800px;
  margin: 0;
  padding: 25px;

}
.perks {

  min-height: 800px;
  padding: 0;

}
.card {
  display: flexbox;
  min-width: 25px;
  max-width: 250px;
  min-height: 500px;
  max-height: 550px;
  margin: auto;
  background-color: #fff;
  background-clip: border-box;
  overflow: hidden;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 0;
}

.card:hover {
  box-shadow: 0 14px 30px 0 rgba(0,0,0,0.2);
}
.card-img-top {
  min-height: 150px;
  background-color: rgb(182, 84, 59);
  margin: 0;
  padding: 25px;
  border: solid, 5px;
  color: white;

}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}


.mainheader {
  font-size: 30px;
  text-shadow: -1px -1px rgb(201, 222, 231), 1px 1px rgb(19, 101, 139), -3px 0 4px rgb(4, 5, 4);
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:rgb(4, 67, 119);
  text-align:center;
  display:inline;
  line-height:150px;

}

header.masthead {
  position: relative;
  background-image: url("../../../../src/assets/reqHome.jpg");
  height: auto;
  background-size: cover;
  background-repeat:no-repeat;

}

header.masthead .overlay {

  position: absolute;
  background: linear-gradient(
    rgba(0, 0, 0, 0.0),
    rgba(0, 0, 0, 0.0)
                        );
  height: 500px;
  width: 100%;
  top: 0;
  left: 0;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}



.call-to-action {
  position: relative;
  background-color: #343a40;

  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.item1 {
  background-image: url("../../../../src/assets/donatGex.jpg");
}

.item2 {
  background-image: url("../../../../src/assets/codeImage.jpg");
}

.item3 {
  background-image: url("../../../../src/assets/gexBusiness1.jpg");
}

.item4 {
  background-image: url("../../../../src/assets/mobile.jpg");
}


/*decorating register button */

.btn {
  border: none;
background: #ce6605;
color: #ffffff !important;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 25px;
display: inline-block;
font-family: proximanova bold,sans-serif;

}

.btn:hover {
  color: #e2e9e1 !important;
font-weight: 700 !important;
letter-spacing: 2px;
background: rgb(107, 187, 107);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;

}

/*buttton contact*/
.btnContact {
border: dotted;
color: #ffffff !important;
font-family: proximanova bold,sans-serif;
padding: 20px;
text-transform: uppercase;
width: 100%;
border-radius: 25px;
display: inline-block;
position: relative;
font-size: 14px;


}

.btnContact:hover {
  color: #e2e9e1 !important;
font-weight: 400 !important;
letter-spacing: 2px;
background: rgb(107, 187, 107);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;

}
