
.navbar {
  margin: 0;
  height: auto;
  position: absulote;
  border: 1px;
  overflow: visible;
  z-index: 9999;

}

.navbar-brand{
  max-height: 150px;
  max-width: 200px;
  max-width: 30%;
  overflow: visible;
  padding: 0;
  text-align: center;
  position: relative;

}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

ul {
  list-style: none;
  display: inline-flex;
  margin-top: 12px;
  text-align: center;

}
a {
  text-decoration: none;
  color: black;

}

.primary-nav-item {
  list-style: none;
  display: inline-flex;
  padding: 12px;

}

.dropbtn , .btn{

  color: black;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  position: relative;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{
  display: block;
}
.primary-nav:hover .primary-nav-item {
  display: block;

}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #81aee2;
}
.btn:hover {
  background-color: rgb(193, 230, 193);
}
