

/*.navbar-brand{
    max-height: 30px;
    max-width: 30%;
    overflow: visible;
    padding: 0;

  }

  .logForm {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .nav-item2 {
    float: left;
    list-style-type: none;
    font-size: 14px;
    padding-top: 0;
  }

  .nav-item2 a:hover {
    background-color: lightgray;
  }
*/


  .img-circle {
    border-radius: 50%;
    -ms-transform: translate(0);
    -webkit-transform: translateZ(10);
    transform: translateZ(0);
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }
