
body{
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: node;
  height: 110vh;
  background-repeat:no-repeat;
  background-size:cover;
  margin: 0 auto;
  padding: 0;

}

form {

  color: black;
  opacity: 1;
  border: none;
  width: 500px;
  height: 1050px;
  position: relative;
  text-align: center;
  margin-top: 80px;
  margin: auto;
  overflow: hidden;
  align-content: center;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}
form:hover {
  box-shadow: 0 14px 30px 0 rgba(0,0,0,0.2);
}
.clear-footer {
  height: 100px;
}

h3 {
  text-align: center;
}
p {

  text-align: center;
}

/* Add padding to containers */
.container {
  padding: 16px;
  margin: auto;
  min-width: 435px;


}
.wrapper {
  opacity: .90;
  min-width: 435px;
  border-radius: 25px;
  text-align: center;
}

.innerform {
  padding: 20px;
}

.header {
  text-align: left;
  padding: 0;
  max-width: 450px;
  margin: 0;
}

/* Full-width input fields */
input[type=text], input[type=password] , input[type=tel] {
  width: 400px;
  height: 50px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #0d0f11;
  opacity: .65;
  color: white;
  font-weight: bold;
}

input[type=text]:focus, input[type=password]:focus , input[type=tel]:focus {
  background-color: rgb(112, 58, 70);
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #d3d3e6;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.btn {
  background-color: rgb(17, 112, 221);
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 400px;
  height: 50px;
  padding: 15px;
  opacity: 0.9;
}


.btn:hover {
  opacity:1;
  background-color: darkgreen;
}

/* Add a blue text color to links */
a {
  color: rgb(45, 133, 216);
  font-size: 14px;
  font-weight: bold;
}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
  font-size: 15px;
  font-weight: 400;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
 font-size: 15px;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
 font-size: 15px;
}
