<app-navbar></app-navbar>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  <form (submit)="OnSellerRegisterSubmit()" class="col-md-8 col-md-offset-8">
      <div class="container">
        <div class ="header">
          <h1>Register</h1>
        </div>
        <hr>

        <input type="text" placeholder="Enter Email" [(ngModel)]="email" name="email" required>


        <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="psw" required>
        <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="psw" required>


        <input type="text" placeholder="Legal Name of Entity" [(ngModel)]="entity_name" name="entity_name" required>
        <!--<input type="text" placeholder="Doing business as..." name="dba" optional>-->
        <input type="text" placeholder="Your position" [(ngModel)]="position" name="position" optional>

        <input type="text" placeholder="Enter First Name" [(ngModel)]="first_name" name="first_name" required>

        <input type="text" placeholder="Enter Last Name" [(ngModel)]="last_name" name="last_name" required>



        <input type="tel" placeholder="Enter phone number" [(ngModel)]="phone_number" name="phone_number" required>

        <hr>
      </div>
      <div class="wrapper">
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <button type="submit" class="registerbtn btn" routerLink="/seller-register" routerLinkActive="active">Register</button>
      </div>

    <div class="container">
      <p>Already have an account? <a routerLink="/seller-login" routerLinkActive="active">Log in</a>.</p>
      <br>
      <p>Are you a Buyer? <a routerLink="/buyer-register" routerLinkACtive="active">Register here</a>.</p>
    </div>
  </form>
</body>
