
body{
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: node;
  height: 110vh;
  background-image: url("../../../../../src/assets/grandCanyonGex.jpg");
  background-color: rgb(5, 53, 42);
  background-repeat:no-repeat;
  background-size:cover;
  margin: 0;
  padding: 0;

}

form {

  color: white;
  border: none;
  max-width: 433px;
  height: 600px;
  position: relative;
  text-align: left;
  margin-top: 35px;
  margin: auto;

}

/* Add padding to containers */
.container {
  padding: 16px;
  margin: auto;
  min-width: 435px;

}
.innerform {
  padding: 20px;
}

.header {
  text-align: left;
  padding: 0;
  width: auto;
  margin: 0;
}

/* Full-width input fields */
input[type=text], input[type=password] , input[type=tel] {
  width: 400px;
  height: 50px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #6aa5e7;
  opacity: .65;
}

input[type=text]:focus, input[type=password]:focus , input[type=tel]:focus {
  background-color: rgb(231, 161, 176);
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #d3d3e6;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.btn {
  background-color: rgb(177, 53, 5);
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 400px;
  height: 50px;
  padding: 15px;
  opacity: 0.9;
}


.btn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: white;
  font-size: 18px;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
  font-size: 15px;
  font-weight: 400;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
 font-size: 15px;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
 font-size: 15px;
}
