.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.ex1 {
  margin-top: 1.5%;
}
.editBtn{
  background-color: darkorange;
}
.saveBtn{
  background-color: #e60000;
}

html, body {
  height: 100%;
}

.clearheader {
  height: 80px;
  clear: both;
}

#container {
  min-height: 100%;
  margin-bottom: -330px;
  position: relative;
}

.contain {
  opacity: 0.85;
  color: black;
  background-color:whitesmoke;
}

#footer {
  height: 330px;
  position: relative;
}

.clearfooter {
  height: 330px;
  clear: both;
}

.divider{
  width:10px;
  height:auto;
  display:inline-block;
}
