.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.ex1 {
  margin-top: 1.5%;
}
.editBtn{
  background-color: darkorange;
}
.saveBtn{
  background-color: #e60000;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
  margin-bottom: -330px;
  position: relative;
}

#footer {
  height: 330px;
  position: relative;
}

.clearfooter {
  height: 330px;
  clear: both;
}