.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.ex1 {
  margin-top: 1.5%;
}
.editBtn{
  background-color: darkorange;
}
.saveBtn{
  background-color: #e60000;
}

html, body {
  height: 100%;
}

.clearheader {
  height: 80px;
  clear: both;
}

#container {
  min-height: 100%;
  margin-bottom: -330px;
  position: relative;
}

.contain {
  opacity: 0.85;
  color: black;
  background-color:whitesmoke;
}

#footer {
  height: 330px;
  position: relative;
}

.clearfooter {
  height: 330px;
  clear: both;
}

.divider{
  width:10px;
  height:auto;
  display:inline-block;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: blue;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.spin {
  position: relative;
  margin-top: 5px;
  left: 30%;
}
