<app-seller-navbar></app-seller-navbar>
<div class="clearheader"></div>

&nbsp;
<body>
<div class="container contain">
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <mat-horizontal-stepper [linear]=false #stepper id="steps">
      <mat-step [stepControl]="firstFormGroup" [editable]="false">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Step 1</ng-template>
          <div>
            <div class="container">
              &nbsp;
              <h1>What goods/services would you like to provide?</h1>
              &nbsp;
              <!-- <div class="card contain">
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Current Good/Service:</label>
                    <div *ngIf="None" class="col-sm-6">
                      <label class="col-sm-4 col-form-label">None</label>
                    </div>
                    <div *ngIf="!None" class="col-sm-10">
                      <label class="col-sm-4 col-form-label">{{codeNames}}</label>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="card contain">
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-sm-12" style="color:#FF0000">You are already opted in to the selected ones:</label>
                    &nbsp;
                    <div class="container-fluid" style="position: relative; right: 4%">
                      <ul class="checkbox-grid" *ngFor="let code of codes" id="otis">
                        <li *ngIf = "codeArray != undefined">
                          <div *ngIf="codeArray.indexOf(code.code) !== -1">
                            <input type="checkbox" name="code" value={{code.code}} id={{code.code}} (change)="onCheckboxChange(code,$event)" checked/>
                            <label id="piclabel" for={{code.code}}><img src={{code.image}} /></label>
                            <label id="piclabel">{{code.name}}</label>
                          </div>
                          <div *ngIf="codeArray.indexOf(code.code) === -1">
                            <input type="checkbox" name="code" value={{code.code}} id={{code.code}} (change)="onCheckboxChange(code,$event)"/>
                            <label id="piclabel" for={{code.code}}><img src={{code.image}} /></label>
                            <label id="piclabel">{{code.name}}</label>
                          </div>
                        </li>
                        <li *ngIf = "codeArray == undefined">
                            <div>
                              <input type="checkbox" name="code" value={{code.code}} id={{code.code}} (change)="onCheckboxChange(code,$event)"/>
                              <label id="piclabel" for={{code.code}}><img src={{code.image}} /></label>
                              <label id="piclabel">{{code.name}}</label>
                            </div>
                          </li>
                      </ul>
                    </div>
                  </div>
                  <div>
                    <button class="float-right btn btn-primary" (click)="AddCode(stepper)">Submit and Continue ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" [editable]="false">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Step 2</ng-template>
          <div>
            <div class="card">
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <h3>Tell us a little bit about you...</h3>
                    &nbsp;
                    <textarea class="form-control" [(ngModel)]="description" name="description" rows="20" required></textarea>
                  </div>
                </form>
                <div>
                  <button class="float-right btn btn-primary" (click)="AddDescription(stepper)">Submit and Continue ></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 3</ng-template>
        <div class="card">
          <div class="card-body">
            <h2>Almost There, One last step!!</h2>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <h2 align="center" style="color:blue;">Stripe Payment</h2>
            &nbsp;
            <h5 align="center">Connect with Stripe for any transactions</h5>
            <label>Stripe is the easiest way to accept credit cards. Process major international debit or credit cards, including
              Visa, MasterCard and American Express. You don't need a merchant account, sop you can start accepting payments today.
            </label>
            &nbsp;
            &nbsp;
            <label>Click "Connect with Stripe", create a free Stripe account in a few minutes and start processing payments immediately</label>
            &nbsp;
            &nbsp;
            <div class="btnMid">
              <img class="stripe" onmouseover="" style="cursor: pointer;" (click)="rerouteToStripe()" src="../../../../assets/blue-on-light@2x.png"  alt="Connect with Stripe">
            </div>
          </div>
        </div>
        &nbsp;
        <div>
          <button matStepperNext class="float-right btn btn-primary" routerLink="/seller" routerLinkActive="router-link-active">Finish!</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

		<div class="clearfooter"></div>
  </div>
</body>
