html, body {
  height: 100%;
  background-image: url(../../../../assets/sky-building.JPG);
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
  position: relative;
}

#container {
  min-height: 100%;
  margin-bottom: -600px;
  position: relative;
}

.contain {
  opacity: .90;
}

#footer {
  height: 600px;
  position: relative;
}

.clearfooter {
  height: 600px;
  clear: both;
}

.stepTabs {
  width: 370px;
}

