<app-seller-navbar></app-seller-navbar>
<div class="clearheader"></div>

&nbsp;
<body>
<div class="container contain">
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="tabbable">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item stepTabs">
          <a class="nav-link active" data-toggle="tab" [ngClass]="{'active':currentTab === 'step1'}" data-target="#step1"
            role="tab" aria-controls="step1" aria-selected="true" (click)="step1('step1')">Step 1</a>
        </li>
        <li class="nav-item stepTabs">
          <a class="nav-link" data-toggle="tab" [ngClass]="{'active':currentTab === 'step2'}" data-target="#step2"
            role="tab" aria-controls="step2" aria-selected="false" (click)="step2('step2')">Step 2</a>
        </li>
        <li class="nav-item stepTabs">
          <a class="nav-link" data-toggle="tab" [ngClass]="{'active':currentTab === 'step3'}" data-target="#step3"
            role="tab" aria-controls="step3" aria-selected="false" (click)="step3('step3')">Step 3</a>
        </li>
      </ul>
    </div>

    <!-- Content of tabs -->
    <div class="tab-content" id="myTabContent">
      <!-- The content for Step 1 tab -->
      <div class="tab-pane fade show active" id="step1" [ngClass]="{'active':currentTab === 'step1'}" role="tabpanel"
        aria-labelledby="step1-tab">
        <form (submit)="AddCode()">
          <div class="container">
            &nbsp;
            <h1>What goods/services would you like to provide?</h1>
            &nbsp;
            <!-- <div class="card contain">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Current Good/Service:</label>
                  <div *ngIf="None" class="col-sm-6">
                    <label class="col-sm-4 col-form-label">None</label>
                  </div>
                  <div *ngIf="!None" class="col-sm-10">
                    <label class="col-sm-4 col-form-label">{{codeNames}}</label>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="card contain">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-sm-12" style="color:#FF0000">colored means it's subscribed to you already</label>
                  &nbsp;
                  <div class="form-group row">
                    <ul *ngFor="let code of codes" id="otis">
                      <li>
                        <div *ngIf="codeList.indexOf(code.code) !== -1">
                          <input type="checkbox" name="code" value={{code.code}} id={{code.code}} (change)="onCheckboxChange(code,$event)" checked/>
                          <label id="piclabel" for={{code.code}}><img src={{code.image}} /></label>
                          <label id="piclabel">{{code.name}}</label>
                        </div>
                        <div *ngIf="codeList.indexOf(code.code) === -1">
                          <input type="checkbox" name="code" value={{code.code}} id={{code.code}} (change)="onCheckboxChange(code,$event)"/>
                          <label id="piclabel" for={{code.code}}><img src={{code.image}} /></label>
                          <label id="piclabel">{{code.name}}</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <button type="button" class="btn btn-danger float-right" (click)="step2('step2')">Next</button>
              </div>
            </div>
            <div class="clearfooter"></div>
          </div>
        </form>
      </div>
      <!--End of Step 1-->

      <!-- The content for Step 2 tab -->
      <div class="tab-pane fade show active" id="step2" [ngClass]="{'active':currentTab === 'step2'}" role="tabpanel"
        aria-labelledby="step2-tab">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <h3>Tell us a little bit about you...</h3>
                &nbsp;
                <textarea class="form-control" [(ngModel)]="description" name="description" rows="20" required></textarea>
              </div>
              <button type="prevBtn" class="btn btn-outline-danger float-left" (click)="step1('step1')">Previous</button>
              <button type="button" class="btn btn-danger float-right" (click)="step3('step3')">Next</button>
            </form>
          </div>
        </div>
      </div>

      <!-- The content for Step 3 tab -->
      <div class="tab-pane fade show active" id="step3" [ngClass]="{'active':currentTab === 'step3'}" role="tabpanel"
        aria-labelledby="step3-tab">
        <div class="card">
          <div class="card-body">
            <h3>Billing Address</h3>
            &nbsp;
            <form (submit)="OnSubmitClickBtn()">
              <div class="form-group">
                <label for="firstName" style="text-align: left">&nbsp;&nbsp;First Name:</label>
                <input [(ngModel)]="first_name" placeholder="Enter First Name" class="form-control" name="first_name" rows="1" required>
              </div>
              <div class="form-group">
                <label for="lastName" style="text-align: left">&nbsp;&nbsp;Last Name: </label>
                <input [(ngModel)]="last_name" placeholder="Enter Last Name" class="form-control" name="last_name" rows="1" required>
              </div>
              <div class="form-group">
                <label for="streetAddress" style="text-align: left">&nbsp;&nbsp;Street Address:</label>
                <input [(ngModel)]="street_address" placeholder="Enter Street Address" class="form-control" name="street_address" rows="3" required>
              </div>
              <div class="form-group">
                <label for="city" style="text-align: left">&nbsp;&nbsp;City: </label>
                <input [(ngModel)]="city" placeholder="Enter City" class="form-control" name="city" rows="1" required>
              </div>
              <div class="form-group">
                <label for="country" style="text-align: left">&nbsp;&nbsp;Country:</label>
                <input [(ngModel)]="country" placeholder="Enter Country" class="form-control" name="country" rows="1" required>
              </div>
              <div class="form-group">
                <label for="state_province" style="text-align: left">&nbsp;&nbsp;State/Province: </label>
                <input [(ngModel)]="state_province" placeholder="Enter State/Province" class="form-control" name="state_province" rows="1" required>
              </div>
              <div class="form-group">
                <label for="postal_code" style="text-align: left">&nbsp;&nbsp;Postal Code: </label>
                <input [(ngModel)]="postal_code" placeholder="Enter Postal Code" type="Postal" class="form-control" name="postal_code" rows="1" required>
              </div>
              <button type="prevBtn" class="btn btn-outline-danger float-left" (click)="step2('step2')">Previous</button>
              <button type="submit" class="btn btn-success float-right">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Content tabs -->

		<div class="clearfooter"></div>
  </div>
</body>
