html, body {
  height: 100%;
}

#container {
  min-height: 100%;
  margin-bottom: -600px;
  position: relative;
}
img.stripe {
  cursor: pointer;
  text-align: center;
  box-align: middle;
}
.contain {
  opacity: .90;
}

#footer {
  height: 600px;
  position: relative;
}

.clearfooter {
  height: 600px;
  clear: both;
}

.clearheader {
  height: 40px;
  clear: both;
}

.stepTabs {
  width: 370px;
}

input[type="checkbox"] {
  display: none;
}
#otis li {
  list-style-type: none;
}
label {
  border: 0px solid #fff;
  padding: 0px;
  display: block;
  position: relative;
  margin: 0px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}
label::before {
  text-align: center;
  background-color: white;
  color: white;
  content: " ";
  border-radius: 50%;
  position: relative;
  top: -1px;
  left: -1px;
  width: 51px;
  height: 51px;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 50px;
  width: 50px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  border-radius: 50%;
}

:checked+label {
  border-color: #ddd;
}

:checked+label::before {
  background-color: #FF0000;
  content: " ";
  color: black;
  border-radius: 50%;
  position: relative;
  top: -1px;
  left: -1px;
  width: 51px;
  height: 51px;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.8);
  box-shadow: 0 0 50px #FF0000;
  z-index: -1;
}

.checkbox-grid li {
  display: block;
  float: left;
  width: 25%;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: blue;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}