<app-seller-navbar></app-seller-navbar>
<div class="clearheader"></div>

&nbsp;
<body>
<div class="container contain">
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <mat-horizontal-stepper [linear]=false #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Step 1</ng-template>
          <div>
            <div class="container">
              &nbsp;
              <h1>What goods/services would you like to provide?</h1>
              &nbsp;
              <!-- <div class="card contain">
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Current Good/Service:</label>
                    <div *ngIf="None" class="col-sm-6">
                      <label class="col-sm-4 col-form-label">None</label>
                    </div>
                    <div *ngIf="!None" class="col-sm-10">
                      <label class="col-sm-4 col-form-label">{{codeNames}}</label>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="card contain">
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-sm-12" style="color:#FF0000">colored means it's subscribed to you already</label>
                    &nbsp;
                    <div class="form-group row">
                      <ul *ngFor="let code of codes" id="otis">
                        <li>
                          <div *ngIf="codeList.indexOf(code.code) !== -1">
                            <input type="checkbox" name="code" value={{code.code}} id={{code.code}} (change)="onCheckboxChange(code,$event)" checked/>
                            <label id="piclabel" for={{code.code}}><img src={{code.image}} /></label>
                            <label id="piclabel">{{code.name}}</label>
                          </div>
                          <div *ngIf="codeList.indexOf(code.code) === -1">
                            <input type="checkbox" name="code" value={{code.code}} id={{code.code}} (change)="onCheckboxChange(code,$event)"/>
                            <label id="piclabel" for={{code.code}}><img src={{code.image}} /></label>
                            <label id="piclabel">{{code.name}}</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperNext class="float-right">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Step 2</ng-template>
          <div>
            <div class="card">
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <h3>Tell us a little bit about you...</h3>
                    &nbsp;
                    <textarea class="form-control" [(ngModel)]="description" name="description" rows="20" required></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext class="float-right">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 3</ng-template>
        <form (submit)="OnSubmitClickBtn()">
          <div class="card">
            <div class="card-body">
              <h3>Billing Address</h3>
              &nbsp;
                <div class="form-group">
                  <label for="firstName" style="text-align: left">&nbsp;&nbsp;First Name:</label>
                  <input [(ngModel)]="first_name" placeholder="Enter First Name" class="form-control" name="first_name" rows="1" required>
                </div>
                <div class="form-group">
                  <label for="lastName" style="text-align: left">&nbsp;&nbsp;Last Name: </label>
                  <input [(ngModel)]="last_name" placeholder="Enter Last Name" class="form-control" name="last_name" rows="1" required>
                </div>
                <div class="form-group">
                  <label for="streetAddress" style="text-align: left">&nbsp;&nbsp;Street Address:</label>
                  <input [(ngModel)]="street_address" placeholder="Enter Street Address" class="form-control" name="street_address" rows="3" required>
                </div>
                <div class="form-group">
                  <label for="city" style="text-align: left">&nbsp;&nbsp;City: </label>
                  <input [(ngModel)]="city" placeholder="Enter City" class="form-control" name="city" rows="1" required>
                </div>
                <div class="form-group">
                  <label for="country" style="text-align: left">&nbsp;&nbsp;Country:</label>
                  <input [(ngModel)]="country" placeholder="Enter Country" class="form-control" name="country" rows="1" required>
                </div>
                <div class="form-group">
                  <label for="state_province" style="text-align: left">&nbsp;&nbsp;State/Province: </label>
                  <input [(ngModel)]="state_province" placeholder="Enter State/Province" class="form-control" name="state_province" rows="1" required>
                </div>
                <div class="form-group">
                  <label for="postal_code" style="text-align: left">&nbsp;&nbsp;Postal Code: </label>
                  <input [(ngModel)]="postal_code" placeholder="Enter Postal Code" type="Postal" class="form-control" name="postal_code" rows="1" required>
                </div>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button type="submit" class="float-right">Submit</button>
            <button mat-button class="float-right" (click)="stepper.reset()">Reset</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>

		<div class="clearfooter"></div>
  </div>
</body>
