<div style="min-width:auto; min-height:auto;">
    <h2 mat-dialog-title style="text-align: center; color:#BF4659;" layout-align="space-between end">Stripe Connection Failed</h2>
    <div style="display: flex; justify-content: center;">
        <img src="../../../assets/xMarkIcon.png" />
    </div>
    <h2 mat-dialog-title style="text-align: center; color:#BF4659;" layout-align="space-between end">Your account was not</h2>
    <h2 mat-dialog-title style="text-align: center; color:#BF4659;" layout-align="space-between end">successfully connected</h2>
    <h2 mat-dialog-title style="text-align: center; color:#BF4659;" layout-align="space-between end">with Stripe.</h2>
    <h2 mat-dialog-title style="text-align: center; color:#BF4659;" layout-align="space-between end">Please try again.</h2>
</div>